<div class="hh-wrapper">
  <form [formGroup]="hhForm" (ngSubmit)="onSubmit(hhForm.value)">
    <div class="headers">
      <div class="hh-header">HH</div>
      <div class="name-header">Namn</div>
      <div class="ok-header">OK</div>
    </div>
    <div formArrayName="users">
      <div *ngFor="let user of hhFormArray.controls; let i=index" [formGroupName]="i" class="row">
        <label class="container hh-input">
          <input type="checkbox" formControlName="hh">
          <span class="checkmark"></span>
        </label>
        <input type="text" formControlName="name" class="name-input" />
        <input type="number" formControlName="ok" class="ok-input" />
      </div>
    </div>
    <button type="submit" [disabled]="!hhForm.valid">Uppdatera hyrare</button>
  </form>
</div>