.list-wrapper {
  padding-bottom: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', 'Arial';
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  }

  .list-group {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    .poll-group {
      .poll {
        background: #fff;
        padding: 13px 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-wrap: nowrap;
        font-family: 'Roboto';

        &:first-of-type:not(:last-of-type) {
          border-radius: 7px 7px 0 0;
        }

        &:last-of-type:not(:first-of-type) {
          border-radius: 0 0 7px 7px;
        }
        .question {
          flex: 8;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .vote-count {
          border-radius: 10px;
          padding: 0px 10px;
          color: rgb(65, 138, 208);
          text-align: right;
          align-content: right;

          i {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
