<div class="list-wrapper">
  <h3>ÄRENDEN ATT RÖSTA PÅ</h3>
  <div class="list-group">
    <div class="poll-group" *ngIf="openPolls.length > 0">
      <div class="poll" *ngFor="let poll of openPolls" (click)="goToPoll(poll.id)">
        <span class="question">{{ poll.question }}</span>
        <span class="vote-count">
          {{ poll.totalVotes }}
          <i class="glyphicon glyphicon-ok"></i>
        </span>
      </div>
    </div>
    <p *ngIf="openPolls.length === 0">Just nu finns det inga ärenden att rösta på.
      <br />
      <a routerLink="/createpoll">Skapa ett</a> eller vänta.</p>
  </div>

  <h3>AVKLARADE ÄRENDEN</h3>
  <div class="list-group">
    <div class="poll-group" *ngIf="closedPolls.length > 0">
      <div class="poll" *ngFor="let poll of closedPolls" (click)="goToPoll(poll.id)">
        <span class="question">{{ poll.question }}</span>
        <span class="vote-count">
          <span>{{ poll.totalVotes }}</span>
          <i class="glyphicon glyphicon-ok"></i>
        </span>
      </div>
    </div>
    <p *ngIf="closedPolls.length === 0">Du har inte röstat på några ärenden.</p>
  </div>
</div>