<div class="register-wrapper">
  <div class="form-box">
    <h1>CCC</h1>
    <h4>Croatian Crime Court</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="form-group">
        <input type="text" formControlName="username" placeholder="Användarnamn" />
      </div>
      <div class="form-group">
        <input type="text" formControlName="name" placeholder="Namn" />
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Lösenord" />
      </div>
      <div class="form-group">
        <input type="password" formControlName="password2" placeholder="Repetera lösenord" />
      </div>
      <input type="submit" value="Registrera" [disabled]="!registerForm.valid" />
    </form>
    <p>Redan medlem?
      <a routerLink="/login">här</a>
    </p>
  </div>
</div>