.option {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background: lightcoral;
}

h1 {
  text-align: center;
}

.chart-labels {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.votes {
  width: 100vw;
  height: 85vh;
}

.label {
  flex: 1 0 auto;
  text-align: center;
}

.text {
  font-size: 1.5rem;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
