.create-wrapper {
  label {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h1 {
    text-align: center;
    font-family: 'Roboto', 'Arial';
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1.4rem;
    border: none;
    border-left: 3px solid lightcoral;
  }

  .question-section {
    input {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }

  .answer-section {
    display: flex;
    input {
      min-width: 0;
      flex: 1;
    }
    .delete {
      text-align: right;
      flex: 0 0 30px;
      color: #fff;
      height: 40px;
      line-height: 40px;
      font-size: 2.5rem;
    }
  }

  form {
    margin-bottom: 30vh;
  }

  .buttons {
    display: flex;
    .submit-btn,
    .add-btn {
      flex: 1;
      padding: 12px;
      border: none;
      color: #fff;
      font-size: 1.5rem;
    }
    .submit-btn {
      background: lightcoral;
      margin-right: 5px;
    }
    .add-btn {
      background: lightcoral;
      margin-left: 5px;
    }

    i {
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }
}
