<div class="create-wrapper">
  <form [formGroup]="pollForm" (ngSubmit)="submitPoll(pollForm.value)">
    <div class="formGroup">
      <label>Ärendebeskrivning</label>
      <input type="text" formControlName="question">
    </div>
    <div formArrayName="options">
      <label>Svar {{ i }}</label>
      <div *ngFor="let option of optionsFormArray.controls; let i=index" [formGroupName]="i">
        <input type="text" formControlName="text">
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="submit-btn" [disabled]="!pollForm.valid">Skapa ärende</button>
      <button type="button" (click)="addOption()" class="add-btn">Lägg till alternativ</button>
    </div>
  </form>
</div>