.admin-wrapper {
  width: 100%;
  height: 100%;

  h1 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
  }

  .user-list {
    display: flex;
    flex-direction: column;

    .user {
      display: flex;
      padding: 10px;
      background: #fff;
      align-content: center;
      margin-bottom: 10px;
      border-radius: 3px;
      span {
        flex: 1;
      }

      i {
        flex: 0 1 30px;
        text-align: right;
        font-size: 2rem;
        color: lightcoral;
        z-index: 10;
      }
    }
  }
}
