.overview-wrapper {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 100px;

  .members {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto', 'Arial';
      font-weight: 900;
      letter-spacing: 1px;
      margin-top: 10px;
      color: #fff;
    }

    .rotating-div {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      -webkit-animation: spin 70s linear infinite;
      -moz-animation: spin 70s linear infinite;
      animation: spin 70s linear infinite;
      margin-left: -50px;

      .center-reference {
        position: relative;
        top: 130px;
        left: 130px;
        width: 0;
        height: 0;
        border-radius: 50%;
        .user-entry {
          animation: spin 70s linear infinite reverse;
          width: 0;
          height: 0;

          .hh-image {
            position: absolute;
            width: 55px;
            height: 35px;
            top: -18px;
          }

          .ok-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .ok {
            position: absolute;
            right: -10px;
            top: 28px;
            text-align: center;
            width: 20px;
            border-radius: 50%;
            height: 20px;
            background: lightcoral;
            color: #fff;
          }

          .username {
            color: #fff;
            font-family: 'Roboto';
          }
        }
      }
    }
    .bulgaria {
      width: 100px;
      height: 100px;
      margin-top: -150px;
      border-radius: 50%;
      z-index: 1;
    }
  }

  .address {
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
    h5 {
      font-size: 2.3rem;
      font-weight: 900;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.executionSwitch {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  span {
    color: white;
    padding-right: 15px;
    font-weight: 500;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: lightcoral;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightcoral;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
