<div class="overview-wrapper">
  <div class="members" *ngIf="users">
    <h3>Närvarande i rättegången</h3>
    <table *ngIf="users">
      <thead>
        <tr>
          <td>Namn</td>
          <td>OK</td>
          <td>HH</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.ok }}</td>
          <td>{{ user.hh }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="open-polls" *ngIf="openPolls">
    <h1>Nya omröstningar</h1>
    <div class="poll" *ngFor="let poll of openPolls" (click)="goToPoll(poll.id)">
      {{ poll.question }}
    </div>
  </div>

  <div class="closed-polls">
    <h1>Gamla omröstningar</h1>
    <p>Det finns inga gamla omröstningar.</p>
  </div>
</div>