<div class="navbar" *ngIf="authService.isLoggedIn">
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <i class="glyphicon glyphicon-home center"></i>
    <p>Hem</p>
  </a>
  <a routerLink="/polls" routerLinkActive="active-link">
    <i class="glyphicon glyphicon-tasks center"></i>
    <p>CCC</p>
  </a>
  <a routerLink="/new" routerLinkActive="active-link" class="grande">
    <i class="glyphicon glyphicon-plus-sign"><!--🇭🇷--></i>
  </a>
  <a routerLink="/hh" routerLinkActive="active-link">
    <i class="glyphicon glyphicon-education center"></i>
    <p>HH</p>
  </a>
  <!--<a routerLinkActive="active-link">
    <i class="glyphicon glyphicon-time"></i>
  </a>
-->
  <a (click)="authService.logout()">
    <i class="glyphicon glyphicon-ban-circle center"></i>
    <p>Hejdå</p>
  </a>
</div>